@charset "utf-8";

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -webkit-text-shadow:rgba(255,255,255,0.01) 0 0 1px;
    -webkit-text-stroke:rgba(255,255,255,0.01) .1px;
    -moz-text-size-adjust:100%;
    -moz-font-smoothing:antialiased;
    -moz-text-shadow:rgba(255,255,255,0.01) 0 0 1px;
    -moz-text-stroke:rgba(255,255,255,0.01) .1px;
    text-size-adjust:100%;
    font-smoothing:antialiased;
    text-shadow:rgba(255,255,255,0.01) 0 0 1px;
    text-stroke:rgba(255,255,255,0.01) .1px;
}

a:focus,button:focus,button,div{outline:none!important}
p,h1,h2,h3,h4,h5,ul,ol{margin:0;padding:0;}
ul,ol{list-style:none;}
a:focus,a:hover{outline:none!important;text-decoration:none;}
.btn:focus{outline:none!important}
a{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
img{max-width: 100%; height: auto;}
.clear:after, .clear:before{
    display: table;
    content: "";
}
.clear:after{clear: both;}

/*
font-family: 'Raleway', sans-serif;
light       300
regular     400
medium      500
semibold    600
bold        700
extra-bold  800
black       900
*/

body{
    font-family: 'Raleway', sans-serif;
}

/*************************************************************/
/********************* header css Start **********************/
/*************************************************************/

/*************************************************************/
/********************** header css End************************/
/*************************************************************/

/*************************************************************/
/********************* content css start *********************/
/*************************************************************/

/*************************************************************/
/********************* content css End ***********************/
/*************************************************************/

/*************************************************************/
/******************** footer csss start **********************/
/*************************************************************/

/*************************************************************/
/********************** footer csss End ***********************/
/*************************************************************/
body{background: #FAFAFA;}
.formpage_wrapper{
    padding: 40px 0px;
}
.form_bg_box{
    background: #fff;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 24px;
    /*box-shadow: 0 1px 8px 0 rgba(28,35,43,.15);*/
}
.upload_file_area{
    height: 235px;
    display: block;
    color: #A9B0B7;
    border: 1px dashed #b3b4b5;
    text-align: center;
    cursor: pointer;
    background-color: #FAFAFA;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.formpage_wrapper h4{
    margin-bottom: 20px;
}
.uploadFile_full_main{
    margin-top: 30px;
}

img.portimg {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 6;
}
.placeholder_text{
    position: absolute;
    left: 0px;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    z-index: 1;
}
.fileUpload{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.removebtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    z-index: 9;
    background: rgba(0,0,0,.5);
    border: 1px solid #fff;
    font-size: 12px;
    padding: 5px 10px;
    text-transform: capitalize;
    color: #fff;
}
.payment_pre_img{
    padding-top: 20px;
}
.payment_pre_img img{
    margin-right: 10px;
}
.label_cap{
    display: block;
    font-size: 12px;
    color: #777;
    margin-bottom: 7px;
}
.form_bg_box label{
    font-weight: normal;
    /*margin-bottom: 0px;*/
}
.chk-on-off{
    padding-left: 0px;
    margin-top: 5px;
    position: relative;
    padding-right: -51px;
    margin-left: -15px;
}
.time-zone-setting{
    margin-left: 15px;
}
.contact_append,.referral_append{
    display: none;
}
.contact_append{
    margin-bottom: 15px;
}
.contact_toogle, .refferal_toogle{
    display: inline-block;
    padding-bottom: 5px;
}
.add_category_main{
    border-top: 1px solid #ddd;
    margin: 0px -24px;
    padding: 20px 20px 0;
    margin-top: 20px;
}
.public_unlisted a{
    float: left;
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 10px;
    height: 34px;

    color: #333;
    text-align: center;
    display: block;
    margin-right: 0px;
}
.public_unlisted a.active{
    background: #ddd;
}
.public_unlisted a:first-child{
    border-radius: 4px 0px 0px 4px;
}
.public_unlisted a:last-child(2){
    border-radius: 0px 4px 4px 0px;
}
.social-buttons-toggle{
    display: none;
    margin-top: 15px;
}
.btn-save-preview{
    background: none;
    color: grey;
}
.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}
.social-buttons-toggle span{
    display: inline-block;
    vertical-align: middle;

}
.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #86c543;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.date_IST{
    position: absolute;
}
.date_IST {
    position: absolute;
    right: 10px;
    top: 8px;
    z-index: 4;
}
.datepicker_row .form-control{
    padding-right: 35px;
}
.remove_daterow {
    font-size: 22px;
    color: #666;
}
.remove_eventrow {
    font-size: 22px;
    color: #666;
}
.location_box_main{margin-top: 20px;}
.offer_tiicket_btn{
    background: #f0f0f0;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.offer_tiicket_btn a{
    display: inline-block;
    padding: 7px 15px;
    text-align: center;
    margin: 5px 5px;
    border: 1px solid #86C543;
    border-radius: 4px;
    min-width: 150px;
}
.Refund_Policy .form-control{
    margin-bottom: 5px;
}
ul.table_row > li{
    float: left;
    width: 20%;
    padding-right: 20px;
}
ul.table_row > li:first-child, ul.table_row > li:last-child{
    width: 30%
}
.action_list li{
    display: inline-block;
    font-size: 22px;
    color: #444;
    padding:0 3px;
}
.action_list li a{
    color: #666;
}
.pass-details .pass-name{
    width : 70%!important;
    display: inline-block;
}
.pass-details .action_list{
    width : 25%!important;
    display: inline-block;
}
.no-background-border{
    background : none;
    border     : none;
}
.passmain_content{
    padding: 20px 30px;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    margin: 0px 0px;
}
.listTable_row{
    padding-bottom: 15px;
}
.newpass_listTable{
    margin-bottom: 15px;
}
.newpass_buttons .public_unlisted a{
    width: 33.33%;
}
.per_order_minmax >div {
    display: inline-block;
    width: 49%;
}
.mar_top10{
    margin-top: 10px;
}

.pass_bottom_btn a{
    color: #333;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: -moz-flex;
    -moz-justify-content: center;
    -moz-flex-direction: column;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}
.pass_bottom_btn a:hover{
    border-color: #337ab7;
    background: #eee;
}
.action_list li.active a{
    color: #337ab7;
}
.event-capacity-alert-toggle{
    float: left;
}
.event-capacity{
    margin-top: 6px;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    float: right;
}
.event-capacity-input a.mw-link {
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    min-width: 1px;
    text-indent: 10px;
}
.attnde-rfrl-accordian-wrap .panel-heading a{
    display: block;
}
i.aa {
    font-size: 37px;
    left: 13px;
    position: relative;
    top: 4px;
}
.lbl-cap {
    margin-top: 5px; padding-right: 5px;
}
.addAnother_event_location{
    /*margin-right: 17%;*/
}
.addAnother_event_location1 {
    margin-right: 0;
}
/*.addAnother_event_location2 {
    margin-right: 17%;
}*/
/*.addAnother_event_location3 {
    margin-right: 17%;
}*/
.addAnother_event_locdiv{
    margin-top: 1%;

}
/* TICKET DESIGN FOR RERSERVE SEAT */
.has-centered-inline-content {
    text-align: center;
}
.l-pad-vert-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.map-template {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.has-centered-inline-content {
    text-align: center;
}
.l-pad-hor-2 {
    padding-left: 10px;
    padding-right: 10px;
}
.seatmap-image {
    background: url("../images/ic_add_circle_outline_black_24dp_2x.png");
    display: inline-block;
}
.seatmap-image, .seatmap-image__thumbnail {
    width: 150px;
    height: 150px;
}
.pod {
    background: #fff;
    border: 1px solid #D2D6DF;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #fff;
}
.eds-link, a {
    text-decoration: none;
    color: #86C543;
}
.pod>:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.pod>:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.ico--addseatmap {
    line-height: 140px;
}
.ico--xxlarge {
    font-size: 70px;
    line-height: 75px;
}
[class^=ico-], [class*=" ico-"], .ico {
    font-family: briteicons,"Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    display: inline;
    vertical-align: baseline;
}
user agent stylesheet
i, cite, em, var, address, dfn {
    font-style: italic;
}
.ember-view{
    width: 49% !important;
    margin-top: -5px;
    position: relative
}
/* modal css */
.modal-header h4 {
    font: 400 20px/28px "Circular Pro",Helvetica,helvetica,arial,sans-serif;
}
/*krishna stat*/

.remove_daterow {
    font-size: 22px;
    color: #666;
    position: absolute;
    bottom: 22px;
    right: -25px;
}
.remove_eventrow {
    font-size: 22px;
    color: #666;
    position: absolute;
    top: 2px;
    right: -25px;
}
/*krishna end*/

.form-editable input{
    background-color:#fff!important;
}

.ticket-main-wrapper .form-control{background-color: #fff;}

