.login-page{
    background-color: #f1f1f1 !important;
}
.login-page .form-control{
    height: 37px;
    border-radius: 2px !important;
}
.login-box{
    width: 40% !important;
}
.login-box-body{
    border-radius: 4px!important;
}