#maincontent{
   padding-top: 0px !important;
   padding-bottom: 0px !important;
}
a.account-active {
    color: #86c543 !important;
}
.img_container input{
  display: none;
}
.img_container img{
  background-color: white;
  cursor:pointer;
}
.user-img{
   height: 165px;
   width: 420px;
   margin-left: -15px;
}
.form-error {
    color: #ff0000;
}

.manadatory{
    color:#ff0000;
}

.account-btn {
    background-color: transparent;
    border-color: transparent;
}
.account-btn:hover {
    background-color: transparent;
    border-color: transparent;
}
a.dropdown-item {
    margin: 15px;
}
header#header {
    border-bottom: none !important;
}

textarea {
  resize: vertical;
}
.contact-wrap > .signup-signin-wrap .nav-tabs > li > a {
  text-align: none !important; 
  margin-left: 25px !important;
}
.ex-cities-title-wrap {
  /*margin-left: 10px;*/
}
.ex-cities-item-wrap {
    margin-bottom: 10px;
}
.ex-cities-title-wrap p{
  margin-bottom: 10px;
}

section.dashboard-main{
    margin:0;
}

section.main-content-padding{
    padding-top : 80px;
}

.event-filters{
    margin: 32px 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.event-filters-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.event-button-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    border:1px solid #E2E5E7;
    border-radius:6px;
    overflow: hidden;
}
.button-bar {
    height: auto;
    cursor: pointer;
    background-color: #FFF;
    color: #6F7881;
    font-size: 14px;
    padding: 5px 12px;
}


.button-bar.active,
.button-bar.active:hover,
.button-bar.active:focus {
  color: #3A66E5;
  font-weight: 500;
  cursor: default;
  background-color: #FFF;
}
.event-filters .button-bar:not(:last-child) {
    border-right: 1px solid #E2E5E7;
}
.button-bar.active,
.button-bar.active:hover,
.button-bar.active:focus {
    color: #3A66E5;
    font-weight: 500;
    cursor: default;
    background-color: #FFF;
}

.tasks_report{
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
}

.event-filters .event-button-bar .active{
    font-weight: 700;
}
.social-widget > div .card{
    padding: 20px;
}
.card {
    background: #fff;
    min-height: 50px;
    position: relative;
    transition: .5s;
    border-radius: 8px;
    border: none;
}
.info-box-2 {
    display: block;
    text-align: center;
}

.info-box-2 .icon {
    display: block;
}

/*.info-box-2.hover-zoom-effect .icon {*/
/*overflow: hidden;*/
/*}*/
/*.info-box-2.hover-zoom-effect .icon {*/
    /*overflow: auto !important;*/
/*}*/
.info-box-2 .content {
    display: block;
    padding: 10px;
}
.info-box-2 .icon i {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.custom_navbar{
    position: relative !important;
}
.custom_navbar .navbar-brand{
    height:auto !important;
}

.sign-up-wrap .nav.nav-tabs > li.active a{
    color: #86c543 !important;
}


/* login signup forms styles */
.modified-login-logout .signup-signin-wrap{
    max-width: 100%;
}
.modified-login-logout .singin-form-wrap,
.modified-login-logout .sign-up-wrap {
    padding: 20px;
}
.modified-login-logout .signup-signin-wrap .sign-up-wrap .nav-tabs {
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0;
    margin-bottom: 20px;
    overflow: hidden;
}
.modified-login-logout .signup-signin-wrap .sign-up-wrap .nav-tabs > li > a{
    font-size:16px;
    padding:7px 0;
    text-transform: capitalize;
}

#signup .signup-fields{
    max-height:300px;
    overflow: auto;
}

#signup .signup-btn{
    width:100%;
}

.eventListing{
    background-color: white;
    padding: 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    border-radius: 6px;
    margin-bottom: 30px;
}

.eventListing .img-wrapper{
    display: inline-block;
    vertical-align: top;
    width: 64px;
    text-align: center;
}

.eventListing .img-wrapper span{
    margin-top: 5px;
    font-weight:600;
    font-size: 13px;
    display: inline-block;
}

.eventListing .img-holder{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
}

.eventListing .img-holder img{
    max-width: 100%;
}

.eventListing .info{
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    width: calc(100% - 68px);
}

.eventListing .info .event-title{
    color: #37393E;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.eventListing .info .event-title a{
    color: #37393E;
}

.eventListing .info p, .eventListing .info h2, .eventListing .info h3, .eventListing .info h4, .eventListing .info h5, .eventListing .info h6   {
    margin-top: 5px;
    font-size: 14px;
    color: #6F7881;
    margin-bottom: 0;
}

.eventListing .leftSide{
    display: inline-block;
    width: calc(100% - 229px);
}

.eventListing .date{
    color: #6F7881;
}

.eventListing .info p i{
    padding-right: 5px;
}

.eventListing .info p.green{
    color : #6FB426 !important;
}

.eventListing .info .actions-btns{
    float: right;
    max-width: 250px;
    text-align: right;
}

.eventListing .info .actions-btns .action-list:not(:first-child){
    margin-left: 5px;
}

.eventListing .info .actions-btns .action-list button{
    padding : 7px 15px;
    border-radius : 5px;
    margin: 3px 0;
}

.eventListing .info .actions-btns .action-list{
    display:inline-block;
}

h2.green{
    color: #6FB426;
    font-size: 22px;
}

.fromAvtar{
    display: block;
    margin: 0px 0px 10px 0px;
}

.fromAvtar .img-holder{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height:50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.fromAvtar .img-holder img{
    width: 100%;
}

.fromAvtar .from{
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}


.main-top-padding{
    padding-top: 80px;
}

.nav-tabs.eventsTabs{
    border: solid 1px #E2E5E7;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
}

.nav-tabs.eventsTabs > li{
    margin: 0px;
}

.nav-tabs.eventsTabs > li > a{
    margin:0px;
    border-radius: 0px;
    border-right: #E2E5E7 solid 1px !important;
}

.nav-tabs.eventsTabs > li:hover a{
    background: #F5F5F5 !important;
}

.nav-tabs.eventsTabs > li:last-child a{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right:0px !important;
}

.nav-tabs.eventsTabs > li:first-child > a{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.nav-tabs.eventsTabs > li.active a{
    background: #F5F5F5 !important;
}

.eventsSearch{
    width: 300px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.eventsSearch .searchBtn{
    position: absolute;
    left: 10px;
    top: 6px;
}

.eventsSearch .form-control{
    padding-left: 30px;
    margin-bottom: 0;
    border-radius: 6px;
}

.modal-btn{
    margin:0!important;
    border-radius : 5px;
    padding: 10px 10px;
}

.removePadding{
    padding:0px !important;
}

/** Disputes **/
.disputes{
    padding-top: 80px;
}


/** Landing-Page-CSS-Starts **/
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
}
#scrollEnabling{
    position: absolute;
    top: 20px;
    right: 70px;
    z-index: 999;
    background-color: #fff;
    padding: 6px;
    font-size: 12px;
    border-color: #8dc63f;
    border-radius: 8px;
    color:#000;
    cursor: pointer;
    line-height: 14px;
}
.enabled{
    background-color: #8dc63f !important;
    color:#fff !important;
}
.img-list-home {
    height: 312px;
    width: 360px;
    overflow: hidden;
}
.ldm-list-profile-pic {
    position: absolute;
    left: 10px;
    border: 3px solid #fff;
    bottom: 0;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    top: 236px;
}
.ldm-list-title {
    margin-top: 76px;
}

.map{
    max-width: 100%;
    width: 256px;
}

.input-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #4d90fe;
}

#searchInput
{
    width: 31% !important;
}
.map_img img{width:100%; height: 140px;}
.map span{margin-left: 10px;margin-top: 7px;}
.map span span p{margin-bottom: 5px;}
.map_img img:nth-child(2){border:3px solid #fff;width:60px;}
img.img.img-circle {
    position: absolute;
    bottom: -28px;
    left: 14px;
}
/*axssaxasxasxaxaxs*/
.gm-style-iw {
    width: 256px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    /*border: 1px solid rgba(72, 181, 233, 0.6);*/
    /*border-radius: 2px 2px 10px 10px;*/
}
#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 15px 5px 20px 15px;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.gm-style-iw+div{
    height: 22px !important;
    width: 22px !important;
}

.gm-style-iw+div img{
    position: absolute;
    left: -2px;
    top: -336px;
    width: 41px !important;
    height: 488px !important;
    user-select: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-width: none;
}

.testimonial-read-more{
    color : #6FB426;
}

.profileSideBar{
    padding-top: 120px;
}

.profileSideBar .rounded-circle{
    border-radius: 50%;
}

.profileSideBar .card{
    background: #f9f8f8;
}

.profileSideBar .nav-pills{
    border:none;
}

.profileSideBar .nav-pills li{
    float: none;
    text-align: left;
    padding: 5px 0px;
    border-bottom: solid #ddd 1px;
}

.profileSideBar .nav-pills li a{
    color: #707070 !important;
    border-radius: 5px;
}

.profileSideBar .nav-pills li a:hover, .profileSideBar .nav-pills li.active a, .profileSideBar .nav-pills li a:focus, .profileSideBar .nav-pills li a:active{
    background-color: #8dc63f !important;
    color: #fff !important;
}

/** Landing-Page-CSS-Ends **/
.organizer-dropdown{
    position: relative;
    width: 100%;
}

.organizer-dropdown .active{
    width: 100%;
    display: block;
    border-bottom: solid #d9d9d9 2px;
    padding: 8px 0px;
}

.organizer-dropdown .fa{
    float: right;
    margin-top: 6px;
    font-size: 12px;
}

.organizer-dropdown .list{
    display: none;
    position: absolute;
    width: 100%;
    top: 43px;
    background: #fff;
    padding: 10px 15px;
    z-index: 999;
    box-shadow: 0px 0px 2px;
}

.organizer-dropdown .list li{
    list-style:none;
}

.organizer-dropdown .list li a{
    color: #0b0b1b;
    display: block;
}

.organizer-dropdown .list li a:hover{
    color: #0dc143;
}

.closeMenu{
    display: none;
}


.basicInformationWrapper{
    padding-left: 0;
    padding-top: 10px;
}

.public_unlisted a{
    width: 50%;
}

.ticket-link{
    width: 100%!important;
}

input:checked + .slider{
    background-color: #86c543;
}

a > img{
    outline: none;
}

.bootstrap-datetimepicker-widget table th, .bootstrap-datetimepicker-widget table td{
    font-size: 13px;
}

.contactUs_title{
    padding: 30px 0px 0px 18px;
    color: #999 !important;
    font-size: 26px;
    font-weight: 600;
}

.signup-signin-section{
    background: none;
}

#cke_description{
    width:auto!important;
}

.rounded-border{
    border-radius : 5px!important;
}

.vendor-profile-image{
    overflow: hidden;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    width: 150px;
}

.rounded-circle.vendor-profile-image img{
    border: none;
    box-shadow: none;
    max-height: 160px;
    max-width: 100%;
}

form#profile-image,form#organizers-profile-image{
    margin-bottom : 0px;
}

/* Event Layouts */
.listing__media{
    max-height: 350px!important;
    overflow: hidden!important;
}

.listing--grid1{
    border: solid 2px #fafafa;
}

.listing--grid1:hover{
    border: #8dc63f solid 2px;
}

.listing--grid1.active{
    border: #8dc63f solid 2px;
}

.listing__media img{
    width: 100%;
    margin: 0px;
    padding: 0;
}

.listing--grid1 .listing__media{
    margin-bottom: 0;
}

.listing--grid1{
    padding-bottom: 0px;
}

.listing--grid1 .mask{
    position: absolute;
    left:0;
    right: 0;
    width: 100%;
    height: 100%;
    transform:scale(0);
    background: rgba(0,0,0,0.7);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.listing--grid1:hover .mask{
    transform:scale(1);
}

.listing--grid1 .zoomIcon{
    display: block;
    z-index:3;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 18px;
    opacity:0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    color: #fff;
}

.listing--grid1:hover .zoomIcon{
    opacity:1;
}

.listing--grid1.active .mask{
    transform:scale(1);
    background: rgba(141, 198, 63, 0.42);
}

.listing--grid1.active .zoomIcon{
    opacity:1;
}

.listing--grid1.active .zoomIcon .fa-search{
    display: none;
}

.listing--grid1 .zoomIcon .fa-check{
    display: none;
}

.listing--grid1.active .zoomIcon .fa-check{
    display: block;
}

.listing__media .fa-check{
    font-size : 40px;
}